﻿<!DOCTYPE html>
<html>
<head>

    <!--Jquery-->
    <script src="jquery-3.3.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Ubuntu" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Oodle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/img/logo.png" class="img-center" height="45" width="90" />
                
            </div>
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Classes", "List", "Class")</li>
                    <li>@Html.ActionLink("Tools", "Tools", "Home")</li>
                    <li>@Html.ActionLink("Calendar", "Calendar", "Home")</li>
                    <li><a href="https://oodle-dev.slack.com/" target="_blank">Go to Slack</a></li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="navBarDiv">
    <!--Local Nav bar for Teacher controller-->
    <nav class="navbar sidebar" style="float:left;border-right:solid black 1px;font-size:22px;padding:10px; width:15%; min-width:100px">
        <br />
        <ul>@Html.ActionLink("Home", "Index", "Teachers", new { ClassID = Model.cl.ClassID }, new { @style = "color: #17252A" })</ul>
        <ul>@Html.ActionLink("Assignments", "Assignment", "Teachers", new { ClassID = Model.cl.ClassID }, new { @style = "color: #17252A" })</ul>
        <ul>@Html.ActionLink("Grades", "GradeList", "Teachers", new { ClassID = Model.cl.ClassID }, new { @style = "color:#17252A" })</ul>
        <ul>@Html.ActionLink("Roster", "ViewRoster", "Teachers", new { ClassID = Model.cl.ClassID }, new { @style = "color: #17252A" })</ul>
        <ul>@Html.ActionLink("Tasks", "UnderDevelopment", "Home", new { ClassID = Model.cl.ClassID }, new { @style = "color: #17252A" })</ul>
        <ul>@Html.ActionLink("Slack", "UnderDevelopment", "Home", new { ClassID = Model.cl.ClassID }, new { @style = "color: #17252A" })</ul>
        <ul>@Html.ActionLink("Quizes", "UnderDevelopment", "Home", new { ClassID = Model.cl.ClassID }, new { @style = "color:#17252A" })</ul>
    </nav>
    </div>
    <br />
    <!--, new { ClassID = (Model.cl.ClassID) }-->
    <div class="container body-content body-content-2">
        @RenderBody()

        <footer >
            <p>&copy; @DateTime.Now.Year - Oodle Incorporated</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
